{% extends "index.html" %}

{% load static %}



{% block contenido_que_cambia %}
<div class="h2 text-center">Tokio</div>
<div class="h3 text-center">Editar Perfil</div>
<div class="d-flex justify-content-center">
    <form action="{% url 'agregarAvatar' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <div class="form-group">
            {{ avatarForm.as_p }}
        </div>

        <input type="submit" class="btn btn-primary" value="Guardar">
    </form>

</div>
<div class="h5 text-center">{{mensaje}}</div>

{% endblock %}