<!-- Section-->
{% extends "base.html" %}
{% load static %}

{% block contenido_que_cambia %}
<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5">
        <form class="d-flex" action="{% url 'buscarNombre' %}" method="GET">
            <input class="form-control me-2" type="search" placeholder="Buscar por nombre" aria-label="Search"
                name="nombre" id="nombre">
            <button class="btn btn-outline-success" value="buscar" type="submit">Search</button>
        </form>
    </div>
</div>
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-8 margin-top m-1 justify-content-center">
    {{mensaje}}
    {% for auto in autos %}
    <div class="col mb-5">
        <div class="card h-100">
            <!-- Product image-->
            {% if auto.imagen %}

            <a title="auto" href="{% url 'auto_detalle' auto.id %}"><img class="card-img-top" src="{{auto.imagen.url}}"
                    alt="..." /></a>
            {% endif %}
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">{{auto.nombre}} {{auto.modelo}}</h5>
                    <!-- Product price-->
                </div>
            </div>
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <p class="fw-bolder">{{auto.anio}} • {{auto.km}}</p>
                    <!-- Product price-->
                    $ {{auto.precio}}
                </div>

            </div>
            <!-- Product actions-->


        </div>
        <div>

            {% if user.is_authenticated and user == auto.user %}

            <a class="btn btn-danger btn-sm" href="{% url 'auto_borrar' auto.id %}">ELIMINAR</a>
            <a class="btn btn-success btn-sm" href="{% url 'auto_editar' auto.id %}">EDITAR</a>
            {% endif %}
        </div>


    </div>


    {% endfor %}

</div>
{% endblock %}