{% extends "base.html" %}

{% load static %}

{% block contenido_que_cambia %}
<div class="row">
    <div class="col-8 py-5">
        <img src="{{auto.imagen.url}}" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-4 borderrounded py-5">
        <h4 class="text-black ">{{auto.nombre}} • {{auto.modelo}} • {{auto.anio}}</h4>
        <h5 class="text-primary fw-bold"><span>$</span>{{auto.precio}}</h5>
        <h5 class="text-black  py-5">Descripcíon</h5>
        <p class="text-nowrap fw-bold">{{auto.descripcion}}</p>
    </div>
</div>
<div class="py-5 h3 text-center fw-bold">Caracteristicas</div>
<div class="row">
    <div class="col-6">
        <table class="table table-responsive table-hover">
            <tbody>
                <tr>
                    <td class=" text-primary fw-bold">Color</td>
                    <td>{{auto.color}}</td>
                </tr>
                <tr>
                    <td class="text-primary fw-bold">Modelo</td>
                    <td>{{auto.modelo}}</td>
                </tr>
                <tr>
                    <td class="text-primary fw-bold">km</td>
                    <td>{{auto.km}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <table class="table table-responsive table-hover">
            <tbody>
                <tr>
                    <td class="text-primary fw-bold">Año</td>
                    <td>{{auto.anio}}</td>
                </tr>
                <tr>
                    <td class="text-primary fw-bold">Marca</td>
                    <td>{{auto.modelo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>



{% endblock %}