{% extends "index.html" %}

{% load static %}


<h4 class="">Agregue un auto</h4>
{% block contenido_que_cambia %}
<div class="h3 text-center">{{accion}}</div>
<div class="d-flex justify-content-center">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 ">
        <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-primary" value="Guardar">
        </form>
    </div>
</div>


<!--<form class="row g-3" action="" method="POST" enctype="multipart/form-data">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">{{form.nombre.label}}</label>
        <input type="text" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">{{form.precio.label}}</label>
        <input type="number" class="form-control" id="inputEmail4">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">{{form.imagen.label}}</label>
        <input type="file" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-12">
        <label for="inputAddress2" class="form-label">{{form.anio.label}}</label>
        <input type="number" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
        <label for="inputCity" class="form-label">{{form.modelo.label}}</label>
        <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-3">
        <label for="inputState" class="form-label">{{form.marca.label}}</label>
        <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="col-md-3">
        <label for="inputState" class="form-label">{{form.color.label}}</label>
        <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</form>
-->
{% endblock %}