{% extends "base.html" %}

{% load static %}

{% block contenido_que_cambia %}
<div class="container">
    <div class="row">
        <div class="col-8 ">
            <img src="{{auto.imagen.url}}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-4 border rounded">
            <h2>{{auto.nombre}} • {{auto.modelo}} • {{auto.anio}}</h2>
            <h3><span>$</span>{{auto.precio}}</h3>
            <a href=" {% url 'render_mensajes' auto.user %}"><button type="button" class="btn btn-success">
                    Enviar
                    Mensaje</button></a>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="abs-center">
        <h1>Caracteristicas</h1>
    </div>
</div>
<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>

</div>



{% endblock %}