{% extends "index.html" %}

{% load static %}


{% block titulo %}
<h1 class="mb-5">Agregue un auto</h1>
{% endblock %}

{% block contenido_que_cambia %}
<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 ">
        <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            estas seguro que desea borrar el auto "{{ object }}"?
            <input type="submit" value="SI">
        </form>
    </div>

    {% endblock %}