{% extends "base.html" %}

{% load static %}

{% block contenido_que_cambia %}

<h4>Sobre Mi</h4>
<p class="text-justify">Mi nombre es Tomas Loray soy el desarrollador de la pagina.Hace varios años empece a
    programar
    en la facultad y fui aprendiendo distintas tecnologias.Por ahora siempre me eh enfocado en el backend
    principalmente, pero me gusta un poco de todo.</p>
<h4>Proyecto</h4>
<p class="text-justify">El proyecto desarrollado es un eccomerce para ventas de auto.El objetivo es lograr un
    eccomerce profesional y llegar a ponerlo en uso.
    Obviamente a medida que valla adquieriendo mas conocimientos, la
    pagina ira evolucionado y cumpliendo el objetivo</p>

{% endblock %}