{% extends "base.html" %}

{% load static %}

{% block contenido_que_cambia %}
<div class="py-5">
    <h4>Sobre Mi</h4>
    <p class="text-justify">Mi nombre es Tomas Loray soy el desarrollador de la pagina.Hace varios años empece a
        programar
        en la facultad y fui aprendiendo distintas tecnologias.Por ahora siempre me eh enfocado en el backend
        principalmente, pero me gusta un poco de todo. </p>
    <p> Actualmente Trabajo en globant como oracle tech y nuestro cliente es Arcor.Me encuentro en la parte de
        integraciones,
        donde justamente realizamos integraciones con otras aplicaciones, con una herramienta llamada talend.</p>
    <h4>Proyecto</h4>
    <p class="text-justify">El proyecto desarrollado es un blog para ventas de auto.La idea principal es tener
        un sistema donde cualquier persona con un bajo costo pueda publicar su auto a la venta.En principio el proyecto
        se va implementar en la ciudad de tandil y luego se ira expandiendo en la zona.


    </p>
</div>

{% endblock %}